 *{
    margin: 0;
    padding: 0;
 }

 #pixelPainter{
    border: 1px solid black;
    box-sizing: border-box;
    width: 552px;
    height: 500px;
    margin: 0 auto;
 }

 .cell {
    border: 1px solid black;
    box-sizing: border-box;
    width: 55px;
    height: 50px;
    margin: 0 auto;
    display: inline-block;
 }