 *{
    margin: 0;
    padding: 0;
 }

 #pixelPainter{
  border: 1px solid black;
  width: 1000px;
 }

 .cell {
    border: 1px solid black;
    box-sizing: border-box;
    width: 55px;
    height: 50px;
    margin: 0 auto;
    display: inline-block;
 }
  #pp-canvas{
    clear: both;
  }
 #palette{
  float: left;
 }

 #canvas{
  float:right;
  width: 562px;
  height: 500px;

 }