

h1{
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;

}

#pixelPainter {

}

#pp-canvas {
  margin-left: 15%;
}

#palette {
  box-sizing: border-box;
  display:inline-block;
  margin-left: 5%

}

#canvas {
  display:inline-block;
  float:left;
  margin-right: 15%;
  border: 2px solid black;
}

.cell {
  border: 1px solid black;
  box-sizing: border-box;
  margin: 0 auto;
  display: inline-block;
}

.color {
  border: 1px solid black;
  width: 25px;
  height: 25px;
}